*
{
	margin: 0;
	padding: 0;
}

header {
	//background-image:linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1)), url(darkgreybg.jpg);
	background: rgb(30,30,30);
	height: auto;
	background-size: cover;
	background-position: center;
}

body{
	//background-image:linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1)), url(darkgreybg.jpg);
	background: rgb(30,30,30);
	height: auto;
	background-size: cover;
	background-position: center;
}


.main-nav {
	position: absolute;
	list-style: none;
	margin-top: 15px;
	text-align: center;
	width: 100%;
}

.main-nav li {
	display: inline-block;
}

.main-nav li a {
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 17px;
}

.main-nav li a:hover{
	color: rgb(190,190,190);
}

.rectangle
{
	width:auto;
	height:50px;
	background: rgb(45,45,45);
}

.titlehead {
	position: absolute;
	width: 100%;
	margin-top: 75px;
}

.intro {
	position: absolute;
	width: 100%;
	margin-top: 200px;
}

.information {	
	position: absolute;
	width: 100%;
	margin-top: 200px;
	
	background-color: white;
	margin: auto;
	
	top: 200;
	left:10%;
	right:10%;
	width: auto;
	padding: 30;
}

h1 {
	color: white;
	text-transform:uppercase;
	text-align: center;
	font-family: "Roboto", sans-serif;
}

h2 {
	color: black;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-weight: 100;
}

h3 {
	color: white;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 16;
	font-weight: normal;
}


h4{
	color: black;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 16;
	font-weight: 100;
}

h5 {
	color: white;
	text-align: left;
	font-family: "Roboto", sans-serif;
	font-size: 12;
	font-weight: 50;
}

h6{
	color: black;
	text-align: left;
	font-family: "Roboto", sans-serif;
	font-size: 16;
	font-weight: normal;
}

.centre {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.ch {
	position: fixed;
	top:18;
	left: 10;
	width:100%;
	background-color: white, 0;
	height: 30px;
	text-align: center;
	padding-left: 1%;
	padding-bottom: 3;
}











